/ {
    chosen {
        zephyr,camera = &camera0;
        zephyr,console = &usb_uart;
        zephyr,display = &oled_display;
    };
};

&arduino_spi {
    status = "okay";

    cs-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;

    camera0: arducam_ov2640@0 {
        compatible = "arducam,ov2640";
        reg = <0>;
        spi-max-frequency = <4000000>;
        control-bus = <&arduino_i2c 0x30>;
        clock-rate-control = <0x87>;
    };
};

&arduino_i2c {
    status = "okay";
    zephyr,concat-buf-size = <256>;

    oled_display: ssd1306@3c {
	compatible = "sinowealth,sh1106";
	reg = <0x3c>;
	width = <128>;
	height = <64>;
	segment-offset = <2>;
	page-offset = <0>;
	display-offset = <0>;
	multiplex-ratio = <63>;
	prechargep = <0x22>;
	segment-remap;
	com-invdir;
    };
};

&zephyr_udc0 {
    usb_uart: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Zephyr USB CDC-ACM";
        status = "okay";
    };
};
